* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light-font-color);

    --header-bg-color:  #05445E;
    --aside-bg-color: #145DA0;
    --main-bg-color: #2E8BC0;
    --footer-bg-color: #0C2D48;
    --light-font-color: #D4F1F4;
    --button-hover-color: #189AB4;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 15vh 75vh 10vh;
    grid-template-areas: "h h" "a m" "f f";
}

header {
    background-color: var(--header-bg-color);

    grid-area: h;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
}

aside {
    background-color: var(--aside-bg-color);

    grid-area: a;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr;
}

main {
    background-color: var(--main-bg-color);
    padding: 10px;

    grid-area: m;
}

footer {
    background-color: var(--footer-bg-color);

    padding-top: 10px;
    text-align: center;

    grid-area: f;
}

button.main {
    background-color: transparent;

    border: 0px;
    height: 100%;
    width: 100%;
}

button.main:hover {
    color: var(--button-hover-color);
}
